/**
 * Webbapplikationer för mobila enheter
 * Kmom02 - Lagerappen
 * Daniel Andersson, DAAP19
 * Module: button
*/

.button {
    font-family: 'Titillium Web', sans-serif;
    display: block;
    padding: ($verticalRythm / 2) ($verticalRythm / 3);
    margin: $verticalRythm;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: $color_primary;
    background-color: $color_white;
    border: $border;
    border-radius: $border-radius;
    transition: all $transition-time;

    &:hover {
        color: $color_white;
        background-color: $color_primary;
    }
    
    &:active {
        box-shadow: inset 0 0.4rem 0.5rem $color_shadow;
    }
}
