/**
 * Webbapplikationer för mobila enheter
 * Kmom02 - Lagerappen
 * Daniel Andersson, DAAP19
 * Module: button
*/

.button {
    cursor: pointer;
    display: block;
    font-family: $fontFamily-subHeader;
    font-size: $fontSize_button;
    padding: ($verticalRythm / 2) ($verticalRythm / 3);
    margin: $verticalRythm;
    margin-bottom: (2 * $verticalRythm);
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: $color_primary;
    background-color: $color_white;
    border: $border;
    border-radius: $border-radius;
    transition-property: color, background-color, box-shadow, transform;
    transition-duration: $transitionTime-hover, $transitionTime-hover, $transitionTime-hover, $transitionTime-active;
    transition-timing-function: ease;
    overflow: hidden;

    &:hover {
        color: $color_white;
        background-color: $color_primary;
        border: $border-transparent;
        box-shadow: inset -0.2rem -0.3rem 0.5rem $color_shadow, inset 0.05rem 0.1rem 0.3rem $color_highlight;
    }
    
    &:active {
        background-color: $color_primary-light;
        box-shadow: inset 0.25rem 0.35rem 0.5rem $color_shadow;
        transform: translateY(0.04rem);
    }
}
