/**
 * Webbapplikationer för mobila enheter
 * Kmom02 - Lagerappen
 * Daniel Andersson, DAAP19
 * Module: container
*/

html {
    overflow-x: hidden;
    background-color: $color_bg;
}

body {
    overflow-x: hidden;
    background-color: $color_bg;
}

#root {
    padding-bottom: (2 * $verticalRythm);
}

.container {
    padding: $verticalRythm;
    padding-bottom: (4 * $verticalRythm);

    &-order,
    &-order-customer,
    &-order-items {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;

        &-header {
            grid-column: 1 / 3;
            grid-row: 1;
        }

        &-subHeader {
            padding: 0 $verticalRythm;
            grid-column: 1 / 3;
        }
        
        &-labels {
            margin: 0;
            padding-bottom: 0;
            grid-column: 1;
        }
        
        &-details {
            margin: 0;
            padding-bottom: 0;
            grid-column: 2;
            
            // &-address {
            //     grid-column-start: 2;
            //     grid-row-start: 2;
            // }

            // &-id {
            //     grid-row-start: 3;
            // }
            
            // &-3 {
            //     grid-row-start: 4;
            // }
        }

        &-items {
            grid-column: 1 / 3;
        }
    }

    img {
        display: block;
        width: 100%;
        margin: 0 auto;
    }
}

/* GITHUB */
.github--links {
    display: block;
    text-decoration: none;
    
    &:hover {
        color: $color_linkColor;
        text-decoration: underline;
    }
}

.productElement {
    padding-left: $verticalRythm;
}
