/**
 * Webbapplikationer för mobila enheter
 * Kmom02 - Lagerappen
 * Daniel Andersson, DAAP19
 * Module: mixins
*/

/* --- RESPONSIVE TYPOGRAPHY SCALEs --- */
$type-scale-large: (
    h1: 3.911rem,
    h2: 2.941rem,
    h3: 2.211rem,
    h4: 1.663rem,
    p: 1.25rem
);

$type-scale-medium: (
    h1: 3.052rem,
    h2: 2.441rem,
    h3: 1.953em,
    h4: 1.563rem,
    p: 1.25rem,
);

$type-scale-small: (
    h1: 2.686rem,
    h2: 2.148rem,
    h3: 1.719rem,
    h4: 1.375rem,
    p: 1.1rem
);

@mixin size($level) {
    font-size: map-get($type-scale-large, $level);
    @media (max-width: $breakpoint-small) {
        font-size: map-get($type-scale-small, $level);
    }
    @media (max-width: $breakpoint-medium) {
        font-size: map-get($type-scale-medium, $level);
    }
    @media (max-width: $breakpoint-large) {
        font-size: map-get($type-scale-large, $level);
    }
}
