/**
 * Webbapplikationer för mobila enheter
 * Kmom02 - Lagerappen
 * Daniel Andersson, DAAP19
 * Module: variables
*/

/* -- COLORS --- */
$color_white: #fcfcfc;
$color_black: #050505;
$color_grey-veryLight: #cecece;
$color_grey-light: #b1b1b1;
$color_grey50: #7f7f7f;
$color_grey: #535353;
$color_grey-dark: #232323;
$color_grey-veryDark: #161616;
$color_text: #161616;
$color_bg: #FFF;
$color_primary: #0094a8;
$color_primary-light: #01b6ce;
$color_primary-dark: #006977;
$color_secondary: #0094a8;
$color_linkColor: #0094a8;
$color_positive: #00a84c;
$color_negative: #a80000;
$color_selected: #ebc000;
$color_active: #00b1c9;
$color_highlight: rgba(255, 255, 255, 0.75);
$color_shadow: rgba(0,0,0,0.2);

/* --- FONTS --- */
$fontFamily-body: 'Playfair Display', serif;
$fontFamily-p: $fontFamily-body;
$fontFamily-header: 'Lobster', cursive;
$fontFamily-subHeader: 'Ubuntu', sans-serif;;

/* --- MODULAR SCALE --- */
$modularScale: (
  base: 1em 1140em 12em,
  ratio: 1.3
);

/* --- TEXT -> SIZE & WEIGHT --- */
$fontSize-base: 100%;
$fontSize-body: 1rem;
$fontSize-p: $fontSize-body;

$fontSize-h1: 1.912rem;
$fontSize-h2: 1.616rem;
$fontSize-h3: 1.471rem;
$fontSize-h4: 1.3rem;
$fontSize-h5: 1.243rem;
$fontSize-h6: 1.132rem;

$fontSize-button: 1.3rem;

$fontWeight-p: 400;
$fontWeight-header: 400;
$fontWeight-subHeader: 400;

/* --- BASELINE & RYTHEM --- */
$baseLineHeight: 1.3; /* line height should be around 1.2 - 1.5 (small screen = smaller line heigt | large screen = larger line height) */
$verticalRythm: ($fontSize-p * $baseLineHeight); /* font_size-body * line_heigt = MagicNumber */

/* --- PADDINGS & MARGINS --- */
$padding_p-bottom: 2 * $verticalRythm;
$padding_h-bottom: 2 * $verticalRythm;

/* --- BORDERS --- */
$border: 0.05rem solid $color_primary;
$border-transparent: 0.05rem solid $color_bg;
$border-radius: 0.3rem;
$border-radius-full: 50rem;

/* --- TIME --- */
$transitionTime-hover: 0.3s;
$transitionTime-active: 0.1s;
$transitionTiming-hover: ease-in-out;
$transitionTiming-hover: linear;

/* --- BREAKPOINTS --- */
$breakpoint-large: 98em;
$breakpoint-medium: 75em;
$breakpoint-small: 45em;
