:root {
    /* TEXT */
    --fontSize_p: 1rem;
    --fontSize_h1: 2.4rem;
    --fontSize_h2: 2.2rem;
    --fontSize_h3: 2rem;
    --fontSize_h4: 1.8rem;
    --lineHeight_p: 1.3;
    --lineHeight_h: 1.5;
    --paddingBottom_h1: 2.6rem; /* doubble magicNumber */
    --magicNumber: 1.3rem; /* 1 * 1.3 = 1.3rem */

    /* TIME */
    --t_time: 0.25s;

    /* COLORS */
    --white_complete: #fcfcfc;
    --white: #fcfcfc;
    --black: #050505;
    --grey: #535353;
    --grey_dark: #232323;
    --grey_veryDark: #161616;
    --primary: #0094a8;
    --linkColor: #0094a8;
    --positive: #00a84c;
    --negative: #a80000;
    --selected: #ebc000;
}

/* BASICS */
html {
    font-family: 'Playfair Display', serif;
    font-size: 100%;
    overflow-x: hidden;
    color: var(--grey_veryDark);
}

body {
    font-size: var(--fontSize_p);
    overflow-x: hidden;
    background-color: var(--white_complete);
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: var(--fontSize_h1);
    font-weight: 400;
    text-align: center;
    line-height: var(--lineHeight_h);
    padding-bottom: var(--paddingBottom_h1);
}

h2,
h3,
h4 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
}

p {
    font-weight: 300;
    line-height: var(--lineHeight_p);
    padding-top: 0;
    padding-bottom: var(--magicNumber);
}

a {
    text-decoration: none;
    transition: all var(--t_time);
}

/* a:hover {
    text-decoration: underline;
    color: var(--linkColor);
} */

.title {
    text-align: center;
}

/* NAVIGATION */
.bottom-nav {
    position: fixed;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: var(--grey_dark);
}

.bottom-nav a {
    cursor: pointer;
    color: var(--white);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px;
}

.bottom-nav a i {
    color: var(--white);
    padding: 5px;
}

.active span,
.active .material-icons {
    color: var(--primary);
}

/* CONTAINER */
.container {
    padding: var(--magicNumber) var(--magicNumber) var(--paddingBottom_h1) var(--magicNumber);
}

.container img {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.container p:last-child {
    padding-bottom: var(--paddingBottom_h1);
}

/* GITHUB */
.github--links {
    display: block;
    text-decoration: none;
}

.github--links:hover {
    color: var(--linkColor);
    text-decoration: underline;
}
